@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Sofadi+One&display=swap");

/* Estrutura global */
body {
  background-color: #2f2d2e;
  color: #fdfffc;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  font-family: "Mochiy Pop One", sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fdfffc;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: #eca400;
  border-bottom: 1px solid #eca400;
  transition: all 0.3s ease-in-out;
}

/* Main Section */
main {
  width: 100%;
  padding-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 650px;
  position: relative;
}

aside {
  display: flex;
  flex-direction: column; /* Alinha texto e botão na vertical */
  justify-content: center; /* Centraliza os elementos verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  gap: 20px; /* Espaço entre o texto e o botão */
  margin-top: -386px; /* Remove deslocamento para cima */
}

aside h2 {
  font-size: 40px; /* Ajusta o tamanho do texto */
  font-style: italic;
  font-weight: 200;
  text-align: left; /* Alinha o texto à esquerda */
  margin: 0; /* Remove espaçamentos extras */
}

#btn {
  display: inline-block;
  padding: 15px 60px;
  background: #f14a41;
  color: #fdfffc;
  font-weight: 500;
  text-decoration: none;
  border-radius: 60px;
  transition: 0.5s ease-in-out;
  font-style: italic;
}

#btn:hover {
  transform: translateY(-10px);
}

.texto1 {
  width: 300px;
}

article img {
  scale: 1.5;
  right: -10px;
  position: absolute;
  top: 166px;
  width: 600px;
  transform: rotate(10deg) translateY(-90px);
  align-self: flex-end; /* Garante alinhamento ao lado direito */
  margin-top: -300;
}

.yellow-overlay img {
  position: absolute;
  top: -30%;
  right: -30%;
  z-index: -1;
  width: 170%;
  height: auto;
}

#menu {
  text-align: center;
  padding: 50px 0;
  margin-top: 100px; /* Ajusta a posição para baixo */
}

#menu h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #eca400;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  text-align: center;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
}

.card .content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.card .content p {
  font-size: 0.9rem;
  color: #666;
}

.card .content span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f08000;
}
